<p>
    Somos uma RH Tech criada em Passo Fundo – RS com o propósito de transformar a cultura organizacional das empresas com o foco no RH e na gestão de pessoas.

Nossa história surge da ideia de empreender e transformar vidas!</p>
<p>
    Fundada em 2018 por Ismael Wimmersberger e Magnun Barcarol, a Umentor nasceu para oferecer ao mercado corporativo uma ferramenta para automatizar processos de Recursos Humanos a fim de aumentar a eficiência do setor por meio de soluções tecnológicas de gestão e educação corporativa, </p>
<p>
No ano de 2019, a Umentor ficou sediada no parque Tecnológico da Universidade de Passo Fundo ligada a Rede de inovação Conecta UPF. Neste mesmo período, participamos de programas de aceleração como a Inovativa Brasil e fomos integrante do projeto Capital Empreendedor do Sebrae SC. A soma de conhecimento adquirida nestes eventos e projetos consolidou a Umentor como uma das 100 melhores Startups da Inovativa Brasil no ano de 2020.
</p>
     2021, a Umentor dá um grande passo recebendo um aporte milionário através da VENTIUR em parceria com os seus veículos de investimento Hélice e Fundo20. Com isso, crescemos e nos expandimos, passando a atender mais de 110 organizações de diferentes segmentos econômicos, em seis estados brasileiros.
<p>
    Hoje, a Umentor faz parte do quadro de investimento da Bossa Nova, maior Micro Venture Capital da América Latina.
</p>
<p>
    Com o intuito de unir tecnologia, inovação e agilidade, a Umentor tem como foco garantir a alta performance e o crescimento contínuo durante a jornada dos colaboradores dentro das empresas.
</p>
